<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhbookstore.system.mapper.member.MemberExtMapper">

    <resultMap type="com.xhbookstore.system.domain.member.MemberExt" id="MemberExtResult">
        <id property="id" column="id"/>
        <result property="memberId" column="member_id"/>
        <result property="gender" column="gender"/>
        <result property="age" column="age"/>
        <result property="unitPhone" column="unit_phone"/>
        <result property="wechat" column="wechat"/>
        <result property="weibo" column="weibo"/>
        <result property="joinDate" column="join_date"/>
        <result property="totalPoints" column="total_points"/>
        <result property="levelPoints" column="level_points"/>
        <result property="discount" column="discount"/>
        <result property="totalPurchaseAmount" column="total_purchase_amount"/>
        <result property="totalPurchaseCount" column="total_purchase_count"/>
        <result property="totalPurchaseTimes" column="total_purchase_times"/>
        <result property="superiorName" column="superior_name"/>
        <result property="superiorPointsRatio" column="superior_points_ratio"/>
        <result property="businessStaffName" column="business_staff_name"/>
        <result property="excelRawData" column="excel_raw_data"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <select id="selectByMemberId" parameterType="Integer" resultMap="MemberExtResult">
        select * from member_ext where member_id = #{memberId}
    </select>

    <insert id="insertMemberExt" parameterType="com.xhbookstore.system.domain.member.MemberExt">
        insert into member_ext (member_id, gender, age, unit_phone, wechat, weibo, join_date, total_points, level_points, discount, total_purchase_amount, total_purchase_count, total_purchase_times, superior_name, superior_points_ratio, business_staff_name, excel_raw_data, created_at)
        values (#{memberId}, #{gender}, #{age}, #{unitPhone}, #{wechat}, #{weibo}, #{joinDate}, #{totalPoints}, #{levelPoints}, #{discount}, #{totalPurchaseAmount}, #{totalPurchaseCount}, #{totalPurchaseTimes}, #{superiorName}, #{superiorPointsRatio}, #{businessStaffName}, #{excelRawData}, now())
    </insert>

    <update id="updateMemberExt" parameterType="com.xhbookstore.system.domain.member.MemberExt">
        update member_ext
        <set>
            <if test="gender != null">gender = #{gender},</if>
            <if test="age != null">age = #{age},</if>
            <if test="unitPhone != null">unit_phone = #{unitPhone},</if>
            <if test="wechat != null">wechat = #{wechat},</if>
            <if test="weibo != null">weibo = #{weibo},</if>
            <if test="joinDate != null">join_date = #{joinDate},</if>
            <if test="totalPoints != null">total_points = #{totalPoints},</if>
            <if test="levelPoints != null">level_points = #{levelPoints},</if>
            <if test="discount != null">discount = #{discount},</if>
            <if test="totalPurchaseAmount != null">total_purchase_amount = #{totalPurchaseAmount},</if>
            <if test="totalPurchaseCount != null">total_purchase_count = #{totalPurchaseCount},</if>
            <if test="totalPurchaseTimes != null">total_purchase_times = #{totalPurchaseTimes},</if>
            <if test="superiorName != null">superior_name = #{superiorName},</if>
            <if test="superiorPointsRatio != null">superior_points_ratio = #{superiorPointsRatio},</if>
            <if test="businessStaffName != null">business_staff_name = #{businessStaffName},</if>
            <if test="excelRawData != null">excel_raw_data = #{excelRawData},</if>
            updated_at = now()
        </set>
        where member_id = #{memberId}
    </update>

    <delete id="deleteByMemberId" parameterType="Integer">
        delete from member_ext where member_id = #{memberId}
    </delete>

</mapper>
