<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhbookstore.system.mapper.book.BookPurchaseLogMapper">
    <insert id="insert" parameterType="map">
        insert into book_purchase_log (trace_id, purchase_order_id, purchase_order_no, borrow_order_id,
            borrow_detail_id, log_type, before_data, after_data, change_fields,
            staff_id, staff_name, client_ip, created_at)
        values (#{traceId}, #{purchaseOrderId}, #{purchaseOrderNo}, #{borrowOrderId},
            #{borrowDetailId}, #{logType}, #{beforeData}, #{afterData}, #{changeFields},
            #{staffId}, #{staffName}, #{clientIp}, now())
    </insert>
</mapper>