<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhbookstore.system.mapper.book.BookInfoHistoryMapper">
    <insert id="insert" parameterType="map">
        insert into book_info_history (book_id, change_type, before_data, after_data, change_fields,
            change_reason, source_order_no, source_type, staff_id, staff_name, created_at)
        values (#{bookId}, #{changeType}, #{beforeData}, #{afterData}, #{changeFields},
            #{changeReason}, #{sourceOrderNo}, #{sourceType}, #{staffId}, #{staffName}, now())
    </insert>
</mapper>